.landing_page {
  background-image: url("/images/home/banner.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 10px 10px black;
}

.app_showcase {
  background-image: url("/images/home/app-showcase.png");
  width: 400px;
  height: 650px;
}

@media screen and (max-width: 992px) {
  .app_showcase {
    width: calc(100vw - 4rem);
    height: calc(130vw);
  }
}

@media screen and (min-width: 2500px) {
  .app_showcase {
    width: 1000px;
    height: 1500px;
  }
}